<% @posts.each do |post| %>
<article class="hentry">
    <div class="entry-header">
          <h1 class="entry-title">
            <% if @currentPage.path != '' %>
            <%= link_to post.title, show_post_path(@currentPage.path, post.id) %>
            <% else %>
            <%= link_to post.title, show_root_post_path(post.id) %>
            <% end %>
          </h1>

          <div class="entry-meta">
            <% if post.show_date %>
            <div>
              Posted <%= time_ago_in_words post[:created_at] %> ago
            </div>
            <% end %>
            <% if user_signed_in? %>
            <div>
              <%= link_to 'Delete', destroy_post_path(post) %> |
              <% if @currentPage.path != '' %>
                  <%= link_to 'Edit', edit_post_path(@currentPage.path, post), 'data-no-turbolink' => true %>
              <% else %>
                  <%= link_to 'Edit', edit_root_post_path(post), 'data-no-turbolink' => true %>
              <% end %>
            </div>
            <% end %>
          </div>

    </div>

    <div class="entry-content">
    <%== post.body %>
    </div>
</article>
<% end %>

<% if user_signed_in? %>
<article class="hentry">
  <div class="entry-content">
    <%= link_to 'Create new post', url_for(controller: 'posts', action: 'new', path: @currentPage.path), "data-no-turbolink" => true %>
  </div>
</article>
<% end %>