<% @posts.each do |post| %>
<article class="hentry">
    <div class="entry-header">
          <h1 class="entry-title">
            <% if @page.path != '' %>
            <%= link_to post.title, page_post_path(@page, post) %>
            <% else %>
            <%= link_to post.title, root_path %>
            <% end %>
          </h1>

          <div class="entry-meta">
            <% if post.show_date %>
            <div>
              Posted <%= time_ago_in_words post[:created_at] %> ago
            </div>
            <% end %>
            <% if user_signed_in? %>
            <div>
              <%= link_to 'Delete', page_post_path(@page, post), method: :delete %> |
              <% if @page.path != '' %>
                  <%= link_to 'Edit', edit_page_post_path(@page, post), 'data-no-turbolink' => true %>
              <% else %>
                  <%= link_to 'Edit', edit_page_post_path(@page, post), 'data-no-turbolink' => true %>
              <% end %>
            </div>
            <% end %>
          </div>

    </div>

    <div class="entry-content">
    <%== post.body %>
    </div>
</article>
<% end %>

<% if user_signed_in? %>
<article class="hentry">
  <div class="entry-content">
    <%= link_to 'Create new post', new_page_post_path(@page), "data-no-turbolink" => true %>
  </div>
</article>
<% end %>