<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Chris's Programs and Projects</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body class="home page page-id-2 page-template-default custom-background mp6 highlander-enabled highlander-light">

<!-- Include the view file for the current controller/route -->
    <div id="page" class="hfeed site">
      <div id="masthead-wrap" >
        <header id="masthead" class="site-header" role="banner">
          <hgroup>
            <h1 class="site-title">
              <a href="/" title="Home" rel="home">Chris's Programs and Projects</a>
            </h1>
            <h2 class="site-description">
              <% currentPage = @page || @currentPage || Page.where(path: params[:path] || '').first %>
              <% if (Page.count > 0 && currentPage != nil) %>
                <%= currentPage.title %>
                  <% if user_signed_in? %>
                  (<%= link_to 'Edit', edit_page_path(currentPage) %> | <%= link_to 'Delete', destroy_page_path(currentPage) %>)
                  <% end %>
                  <input type="hidden" value="<%= currentPage.path || '' %>" id="pagePath">
              <% end %>
            </h2>

          </hgroup>
          <nav role="navigation" class="site-navigation main-navigation">
            <h1 class="assistive-text">Menu</h1>
            <div class="assistive-text skip-link">
              <a href="#content" title="Skip to content">Skip to content</a>
            </div>
            <div class="menu">
              <ul>
                <%  Page.each do |page| %>
                    <li class="page_item"><%= link_to page.title, show_page_path(page.path) %> </li>
                <% end %>
                <% if user_signed_in? %>
                    <li class="page_item"><%= link_to 'Log Out', destroy_user_session_path(), method: 'delete' %></li>
                    <li class="page_item"><a href="/pages/add">+</a> </li>
                <% end %>
              </ul>
            </div>
            <div class="clearfix"></div>
          </nav>
        </header>
      </div>
      <div id="main" class="site-main">
        <div id="primary" class="content-area">
          <div class="hentry-wrap">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
